header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #800080;
    border-radius: 5px 5px 20px 20px;
    z-index: 10;
    top: 0;
}

header .mil{
    margin-left: 20px;
    margin-right: 40px;
    color: white;
    font-family: Dreadful-Regular;
    font-size: 50px;
    font-weight: 100;
}

header a{
    text-decoration: none;
}

header navbar{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

header navbar a{
    color:rgb(255, 177, 255);
}

header navbar a:hover{
    color:whitesmoke;
}