header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #800080;
    border-radius: 5px 5px 20px 20px;
    z-index: 10;
    top: 0;
}

header .mil{
    margin-left: 20px;
    margin-right: 40px;
    color: white;
    font-family: Dreadful-Regular;
    font-size: 50px;
    font-weight: 100;
}

header a{
    text-decoration: none;
}

header navbar{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

header navbar a{
    color:#FFB1FF;
}

header navbar a:hover{
    color:whitesmoke;
}

.config-button{
    background: none;
    border: 0;
    padding: 0;
    :hover{
        cursor: pointer;
    }
    img{
        height: 35px;
    }
}

.config-options{
    display: none;

    &.active{
        display: block;
        position: absolute;
        right: 170px;
        top: 38px;
        background-color: white;
        height: 90px;
        width: 160px;
        border-radius: 20px;
        box-shadow: 0.02px 0.02px 10px rgba(68, 0, 68, 0.432);
        ul{
            list-style-type: none;
            button{
                background: none;
                border: 0;
                padding: 0;
                height: 45px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    cursor: pointer;
                }
                &.botao-minha-conta{
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                    background-color: #f7f7f7;
                    a{
                        color: #800080;
                    }
                    &:hover{
                        background-color: #FFFFFF;
                    }
                }

                &.botao-sair{
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    background-color: #EF889A;
                    a{
                        color: #FFFFFF;
                    }
                    &:hover{
                        background-color: #f07488;
                    }
                }
            }
        }
        
    }
}