header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #800080;
    border-radius: 5px 5px 20px 20px;
    z-index: 10;
    top: 0;
}

header .mil{
    margin-left: 20px;
    margin-right: 40px;
    color: white;
    font-family: Dreadful-Regular;
    font-size: 50px;
    font-weight: 100;
}

header a{
    text-decoration: none;
}

header navbar{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

header navbar a{
    color:rgb(255, 177, 255);
}

header navbar a:hover{
    color:whitesmoke;
}

.config-button{
    background: none;
    border: 0;
    padding: 0;
    :hover{
        cursor: pointer;
    }
    img{
        height: 35px;
    }
}

.config-options{
    display: none;

    &.active{
        display: block;
        position: absolute;
        background-color: white;
        height: 100px;
        width: 150px;
        border-radius: 20px;
        box-shadow: 0.02px 0.02px 10px rgba(68, 0, 68, 0.432);
        ul{
            list-style-type: none;
            button{
                background: none;
                border: 0;
                padding: 0;
            }
        }
        
    }
}