<link rel="stylesheet" href="../components/header/header.css">

    <header>
        <a href="#"><h1 class="mil">Millenium</h1></a>
        <navbar>
            <nav><a href="homepage.php">Página Inicial</a></nav>
            <nav><a href="constelacoes.php">Constelações</a></nav>
            <nav><a href="#">Amigos</a></nav>
            <nav><a href="perfil.php">Perfil</a></nav>
            <nav>
                <div class="pesquisa">
                    <input type="text" id="searchInput" placeholder="Digite para buscar...">
                    <ul id="suggestions"></ul>
                </div>                
            </nav>
            <nav>
                <button class="config-button">
                    <img src="../assets/icons/ConfigIcon.png" alt="">
                </button>
                <div class="config-options">
                    <ul>
                        <li>
                            <button class="botao-deletar-conta">
                                <p>Deletar Conta</p>
                            </button>
                        </li>
                        <li>
                            <button class="botao-sair">
                                <p>Sair</p>
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
            
        </navbar>
    </header>

