<link rel="stylesheet" href="/millenium/components/header/header.css" />

<header>
  <a href="#"><h1 class="mil">Millenium</h1></a>
  <div class="search-bar">
    <input type="text" id="searchInput" />
    <ul id="suggestions"></ul>
  </div>
  <navbar>
    <!-- <nav><a href="constelacoes.php">Constelações</a></nav> -->
    <nav><a href="/millenium/paginas/homepage.php">Base</a></nav>
    <nav><a href="/millenium/paginas/amigos/amigos.php">Amigos</a></nav>
    <nav><a href="/millenium/paginas/perfil.php">Perfil</a></nav>
    <nav>
      <button class="config-button">
        <img
          class="img-config"
          src="/millenium/assets/icons/ConfigIcon.png"
          alt=""
        />
      </button>
      <div class="config-options">
        <ul>
          <li>
            <button class="botao-minha-conta">
              <a href="#">Minha Conta</a>
            </button>
          </li>
          <li>
            <button class="botao-sair">
              <a href="/millenium/logout.php">Sair</a>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </navbar>
</header>
