<link rel="stylesheet" href="../new-post/emoji-tab.css" />

<body>
    <div class="emoji-tab">
        <div class="emoji-category">
        <h3>Emoticons</h3>
        <div class="emoji-list">
            <img class="emoji-opt" src="https://i.ibb.co/Y4GZ2DBx/smiling.png" alt="Smiling Emoji" title="Smiling Emoji">
            <img class="emoji-opt" src="https://i.ibb.co/gbWVv1dz/wide-smiling.png" alt="Wide Smiling Emoji" title="Wide Smiling Emoji">
            <img class="emoji-opt" src="https://i.ibb.co/chQVWvLs/ohdear.png" alt="ohdear Emoji" title="ohdear Emoji">
            <img class="emoji-opt" src="https://i.ibb.co/chqdf74N/bang.gif" alt="Bang Emoji" title="Bang Emoji">
            <img class="emoji-opt" src="https://i.ibb.co/r283LY3g/wink-smile.gif" alt="Wink Smile Emoji" title="Wink Smile Emoji">
            <img class="emoji-opt" src="https://i.ibb.co/YG9wCp9/dontknow.gif" alt="Dont Know Emoji" title="Dont Know Emoji">
            <img class="emoji-opt" src="https://i.ibb.co/Jw8pSxpx/tsctsc.gif" alt="Tsctsc Emoji" title="Tsctsc Emoji">
            <img class="emoji-opt" src="https://i.ibb.co/HJ8zVR7/hifive.gif" alt="Hi-five Emoji" title="Hi-five Emoji">
            <img class="emoji-opt" src="https://i.ibb.co/23JjrB3g/rockblue.gif" alt="Rockblue Emoji" title="Rockblue Emoji">
        </div>
        </div>
        <!-- Adicione mais categorias de emojis conforme necessário -->
    </div>
</body>