<link rel="stylesheet" href="../new-post/emoji-tab.css" />

<body>
    <div class="emoji-tab">
        <div class="emoji-category">
        <h3>Emoticons</h3>
        <div class="emoji-list">
            <img class="emoji-opt" src="https://i.ibb.co/Y4GZ2DBx/smiling.png" alt="Smiling Emoji" title="Smiling Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/gbWVv1dz/wide-smiling.png" alt="Wide Smiling Emoji" title="Wide Smiling Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/chQVWvLs/ohdear.png" alt="ohdear Emoji" title="ohdear Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/chqdf74N/bang.gif" alt="Bang Emoji" title="Bang Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/r283LY3g/wink-smile.gif" alt="Wink Smile Emoji" title="Wink Smile Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/YG9wCp9/dontknow.gif" alt="Dont Know Emoji" title="Dont Know Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/Jw8pSxpx/tsctsc.gif" alt="Tsctsc Emoji" title="Tsctsc Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/HJ8zVR7/hifive.gif" alt="Hi-five Emoji" title="Hi-five Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/23JjrB3g/rockblue.gif" alt="Rockblue Emoji" title="Rockblue Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/chJZn7Nw/4-11-8.gif" alt="Big eyes Emoji" title="Big eyes Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/N6Wjvzp9/ezgif-com-crop.gif" alt="Crazy Laugh Emoji" title="Crazy Laugh Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/pjbcdLDN/ezgif-68c983920ab38a68.gif" alt="Girlie Emoji" title="Girlie Emoji" style="height: 20px;">

            <img class="emoji-opt" src="https://i.ibb.co/XrrVHFXG/bad-news.webp" alt="Bad News Emoji" title="Bad News Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/rKGb9yzL/ezgif-817aadb620f09da7.webp" alt="Dramatic Reading Emoji" title="Dramatic Reading Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/B5SNJLQC/little-dance.webp" alt="Little Dance Emoji" title="Little Dance Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/pjjGKSGg/evil-plan.webp" alt="Evil Plan Emoji" title="Evil Plan Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/8LQc7d5z/ezgif-8e2e8404f033de6b.webp" alt="Party Emoji" title="Party Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/pv9wjqLv/raivapulandinho-ezgif-com-webp-to-gif-converter.gif" alt="RageJump Emoji" title="RageJump Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/B2t40Gys/emot-neckbeard.gif" alt="So Happy Emoji" title="So Happy Emoji" style="height: 20px;">
            <img class="emoji-opt" src="https://i.ibb.co/9dyJb9t/Aiqvergonha-ezgif-com-resize.gif" alt="Shy Emoji" title="Shy Emoji" style="height: 20px;">
        </div>
        </div>
        <!-- Adicione mais categorias de emojis conforme necessário -->
    </div>
</body>