<link rel="stylesheet" href="../new-post/emoji-tab.css" />

<body>
    <div class="emoji-tab">
        <div class="emoji-category">
        <h3>Emoticons</h3>
        <div class="emoji-list">
            <img src="../assets/icons/emoticons/smiling.png" alt="Smiling Emoji" title="Smiling Emoji">
            <img src="../assets/icons/emoticons/wide-smiling.png" alt="Wide Smiling Emoji" title="Wide Smiling Emoji">
            <img src="../assets/icons/emoticons/ohdear.png" alt="ohdear Emoji" title="ohdear Emoji">
            <img src="../assets/icons/emoticons/bang.gif" alt="Bang Emoji" title="Bang Emoji">
            <img src="../assets/icons/emoticons/wink_smile.gif" alt="Wink Smile Emoji" title="Wink Smile Emoji">
            <img src="../assets/icons/emoticons/dontknow.gif" alt="Dont Know Emoji" title="Dont Know Emoji">
            <img src="../assets/icons/emoticons/tsctsc.gif" alt="Tsctsc Emoji" title="Tsctsc Emoji">
            <img src="../assets/icons/emoticons/hifive.gif" alt="Hi-five Emoji" title="Hi-five Emoji">
            <img src="../assets/icons/emoticons/rockblue.gif" alt="Rockblue Emoji" title="Rockblue Emoji">
        </div>
        </div>
        <!-- Adicione mais categorias de emojis conforme necessário -->
    </div>
</body>