.newpostdiv {
  height: 100px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px;

  .formContainer {
    height: 100px;
    display: flex;
    align-items: center;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    input[type="file"] {
      display: none;
    }

    .input-text {
      grid-column: 1/3;
      /* width: 100%; */
    }

    label {
      display: flex;
      padding: 0;
      height: 49px;
      width: max-content;
      align-items: center;
      border-radius: 50px;
      font-weight: bold;

      p {
        height: fit-content;
        font-size: 15px;
        margin-left: 7px;
      }

      &:hover {
        cursor: pointer;
        background-color: #a622a6;
        color: #f5f5f5;
      }
    }

    .buttonLaunch {
      border: none;
      height: fit-content;
      padding: 15px 15px 15px 10px;
      font-size: 15px;
      font-weight: bold;
      align-self: center;
      border-radius: 50px;
      background-color: #a622a6;
      color: #f5f5f5;

      &:hover {
        cursor: pointer;
        background-color: #b424b4;
      }
    }
  }
}
