<link rel="stylesheet" href="../components/new-post/new-post.css">

<body>
    <div class="newpostdiv">
        <div class="formContainer">
            <form enctype="multipart/form-data" method="POST">
                    <input name="post" type="text">
                    <label for="arquivo">
                        <img src="../assets/icons/addImg.png" alt="falha">
                        <p>Adicionar Imagem</p>
                    </label>
                    <input name="arquivo" type="file" id="arquivo">

                    <button type="submit">Lançar</button>

            </form>
        </div>
    </div>
</body>