.newpostdiv {
    height: 100px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 10px;

    .formContainer {
        height: 100px;
        display: flex;
        align-items: center;
    }

    form {
        display: grid;
        grid-template-columns: 1.5fr 0.25fr 0.25fr;

        input[type="file"] {
            display: none;

        }
        label {
            display: flex;
            padding: 20px 10px;
            height: 40px;
            width: max-content;
            align-items: center;

            p {
                height: fit-content;
                margin-left: 7px;
            }
        }
    }
}