.newpostdiv {
  height: fit-content;
  width: inherit;
  background-color: #fdfdfd;
  margin-bottom: 5px;
  border-radius: 20px;
  padding: 20px;

  .formContainer {
    height: fit-content;


  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 5px;

    input[type="file"] {
      display: none;
    }

    .input-text {
      grid-column: 1/4;
      border-radius: 15px;
      resize: none;
      overflow-y: scroll;
      field-sizing: content;
      max-height: 200px;
      padding: 10px;

      &:focus {
        outline: none;
        border-color: #a622a6;
      }
      /* width: 100%; */
    }

    label {
      display: flex;
      padding: 5px 7px;
      height: fit-content;
      width: max-content;
      align-items: center;
      border-radius: 50px;
      font-weight: bold;
      

      img {
        height: 20px;
      }

      p {
        height: fit-content;
        font-size: 13px;
        margin-left: 7px;
      }

      &:hover {
        cursor: pointer;
        background-color: #a622a68c;
        color: #f5f5f5;
      }
    }

    .buttonLaunch {
      border: none;
      height: fit-content;
      width: fit-content;
      padding: 7px 10px;
      font-size: 15px;
      font-weight: bold;
      align-self: center;
      border-radius: 50px;
      background-color: #a622a6;
      color: #f5f5f5;

      grid-column: 3/4;
      justify-self: end;

      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: #b424b4;
      }

      img {
        height: 15px;
        margin-right: 3px;
      }
    }

/*     #previewBox {
      display: none;
    } */

    #previewBox{
      display: none;
      height: 240px;
      width: 240px;
      background-color: #a622a6;
      border-radius: 20px;
      grid-column: 1/4;
      justify-self: center;
    }

    #imagePreview {
      height: inherit;
      width: inherit;
      object-fit: cover;
      border-radius: 20px;
    }


  }
  
}
