<link rel="stylesheet" href="../components/new-post/new-post.css" />

<body>
  <div class="newpostdiv">
    <div class="formContainer">
      <form action="homepage.php" enctype="multipart/form-data" method="POST">
        <input class="input-text" name="post" type="text" />
        <label for="arquivo">
          <img class="add-image" src="../assets/icons/addImg.png" alt="falha" />
          <p>Adicionar Imagem</p>
        </label>
        <input name="arquivo" type="file" id="arquivo" />

        <button
          name="action"
          value="make_post"
          class="buttonLaunch"
          type="submit"
        >
          Lançar
        </button>
      </form>
    </div>
  </div>
</body>
