@font-face {
    font-family: Dreadful-Regular;
    src: url('Dreadful-Regular.otf') format('opentype');
}

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: purple;
    border-radius: 5px;
}

header .mil{
    margin-left: 20px;
    margin-right: 40px;
    color: white;
    font-family: Dreadful-Regular;
    font-size: 50px;
    font-weight: 100;
}

header a{
    text-decoration: none;
}

header navbar{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header navbar a{
    color:rgb(255, 177, 255);
}

header navbar a:hover{
    color:whitesmoke;
}

.container{
    display: flex;
    margin-top: 1px;
    background-color: purple;
    height: 600px;
    border-radius: 5px;
}