@font-face {
  font-family: Dreadful-Regular;
  src: url("Dreadful-Regular.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea {
  font-family: 'Exo','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  padding-left: 97px;
  padding-right: 97px;
  padding-top: 60px;
  margin-top: 1px;
  background-color: #facffa;
  height: auto;
  width: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
}

/* @media (max-width: 1440px) {
  .container {
    width: 300%;
  }
} */

.mini-perfil {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 200px;
  border-radius: 100px 100px 100px 100px;
  /* position: relative; */
  position: sticky;
  top: 70px;
}

.card-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.miniperfilcontent {
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.miniperfilcontent .nome{
  font-weight: bold;
  text-align: center;
  color: #800080;
}

.mini-perfil .foto {
  background-color: #d9d9d9;
  height: 125px;
  width: 125px;
  border-radius: 200px;
  overflow: hidden;
}

.mini-perfil .foto img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.header-perfil {
}

.center {

}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
  min-height: 100vh;
  max-height: auto;
  width: inherit;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
  overflow: hidden;
}

.posts-amigos {
  width: 100%;
}

.social {
  height: 250px;
  width: 320px;
  background-color: #fdfdfd;
}

.posts-perfil {
  width: 100%;
}

/* .posts-perfil .post .arquivos {
  align-self: center;
  overflow: hidden;
  max-height: 400px;
  height: fit-content;
  width: inherit;
  display: grid;
  padding: 0 10px;
} */

/* .posts-perfil .post .arquivos img{
  object-fit: cover;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
} */

.post {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-top: 20px;
  background-color: #fdfdfd;
}

.post .text-content {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.post .arquivos {
  align-self: center;
  overflow: hidden;
  max-height: 400px;
  height: fit-content;
  width: inherit;
  display: grid;
  padding: 0 10px;
}

.post .arquivos img{
  object-fit: cover;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin-left: 15px;
}

.post-header p {
  padding-left: 5px;
  font-weight: bold;
  /*     color: #800080;
 */
}

.post-header img {
  border-radius: 50%;
}

#suggestions {
  position: absolute;
  background-color: #ececec;
  list-style: none;
  width: 450px;
  border-radius: 0 0 5px 5px;
  top: 40px;
  overflow: hidden;
}

#suggestions hr {
  margin-bottom: 5px;
}

#suggestions form {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  padding: 10px 40px;
  

  &:hover {
    background-color: #b429b4ad;
    cursor: pointer;
  }
  
}

#suggestions button {
  border: none;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: transparent;
  font-family: 'Exo','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }

}

#suggestions img {
  border-radius: 50%;
  height: 100%;
  width: auto;
  margin-right: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #800080;
  border-radius: 0;
}
/* Personaliza a barra inteira */
::-webkit-scrollbar {
  width: 2px; /* Largura da barra */
}

.comment-area {
  height: 200px;
  background-color: #ececec;
  padding: 30px;
  overflow-y: scroll;
  box-shadow: inset 0 -20px 30px -30px black;
}

.post-separator {
  margin-bottom: 20px;
}

.my-comment {
  display: grid;
  grid-template-columns: auto 80% auto;
}

.comment-form {
  grid-column: 1/4;
  justify-self: center;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  width: 80%;
}

.comment-input {
  border-radius: 5px;
  resize: none;
  overflow-y: scroll;
  field-sizing: content;
  max-height: 120px;
  padding: 10px;

  &:focus {
    outline: none;
    border-color: #a622a6;
  }
}

.comment-form .send-comment {
  justify-self: self-end;
  grid-row: 2;
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 3px 7px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #a622a6;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}

.comment-form .send-comment:hover {
  background-color: #b424b4;
}

.post textarea {

}

.post hr {
  margin-top: 10px;
}

.comment .post-header img {
  border-radius: 50%;
  margin-right: 5px;
}

.comment hr{
  margin-bottom: 10px;
}

.comment p {
  padding: 5px 20px;
}

.comment-header {
  display: flex;
  align-items: center;
}


