@font-face {
  font-family: Dreadful-Regular;
  src: url("Dreadful-Regular.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding-left: 97px;
  padding-right: 97px;
  padding-top: 60px;
  margin-top: 1px;
  background-color: #facffa;
  height: auto;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}

.mini-perfil {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
  height: 500px;
  width: 200px;
  border-radius: 20px 20px 20px 20px;
}

.mini-perfil .foto {
  background-color: #d9d9d9;
  height: 125px;
  width: 125px;
  border-radius: 200px;
  overflow: hidden;
}

.mini-perfil .foto img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.header-perfil {
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
  min-height: 100vh;
  max-height: auto;
  width: 620px;
  border-radius: 20px 20px 20px 20px;
}

.social {
  height: 250px;
  width: 320px;
  background-color: #fdfdfd;
}

.posts-perfil {
  width: 100vh;
}

.post {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 20px;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.post-header p {
  padding-left: 5px;
  font-weight: bold;
  /*     color: #800080;
 */
}

#suggestions {
  position: absolute;
  background-color: #fdfdfd;
  list-style: none;
}

#suggestions li {
  min-width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
