@font-face {
    font-family: Dreadful-Regular;
    src: url('Dreadful-Regular.otf') format('opentype');
}

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #800080;
    border-radius: 5px;
}

header .mil{
    margin-left: 20px;
    margin-right: 40px;
    color: white;
    font-family: Dreadful-Regular;
    font-size: 50px;
    font-weight: 100;
}

header a{
    text-decoration: none;
}

header navbar{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header navbar a{
    color:rgb(255, 177, 255);
}

header navbar a:hover{
    color:whitesmoke;
}

.container{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    margin-top: 1px;
    background-color: #facffa;
    height: auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 5px; */
}

.mini-perfil {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    height: 500px;
    width: 200px;
}

.mini-perfil .foto {
    background-color: #D9D9D9;
    height: 125px;
    width: 125px;
    border-radius: 50px;
    overflow: hidden;
}

.mini-perfil .foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    min-height: 100vh;
    max-height: auto;
    width: 700px;
}

.social {
    height: 250px;
    width: 300px;
    background-color: #FFFFFF;
}

.posts-perfil {
    width: 100vh;
}

.post {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 20px;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.post-header p {
    padding-left: 5px;
    font-weight: bold;
/*     color: #800080;
 */}
 
#suggestions {
    position: absolute;
    background-color: #fff;
    list-style: none;
}

#suggestions li {
    min-width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
}