@font-face {
    font-family: Dreadful-Regular;
    src: url('Dreadful-Regular.otf') format('opentype');
  }

  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  h1 {
    font-family: Dreadful-Regular;
    font-size: 50px;
    font-weight: 100;
    margin-top: 0;
    animation: colorChange 10s infinite;
    letter-spacing: 0em;
    opacity: 0;
    color: white;

  }

  @keyframes colorChange {
    0% { color: white; }
    50% { color: rgb(228, 38, 228); }
    100% { color: white; }
  }

  .container {
    background-color: white;
    padding: 50px 60px 30px;
    height: 306;
    width: 362;
    text-align: center;
    border-radius: 20px;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .form-fields input {
    border: none;
    border-radius: 10px;
    box-shadow:inset 4px 4px 8px rgba(0, 0, 0, 0.25);
    height: 40px;
    width: 230px;
    margin: 5px;
    padding: 3px 20px 3px;
  }

  .inputSubmit {
    border: none;
    border-radius: 20px;
    background-color: #A622A6;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    height: 55px;
    width: 160px;
    transition: 0.6s;

    &:hover {
      cursor: pointer;
      background-color: #c429c4;
    }
  }

  .nova-conta {
    margin: 20px 0 0;
    a {
      text-decoration: none;
      color: #A622A6;
    }

  }
  

  .forgot-password {
    display: none;
    margin-top: 20px;
    font-size: 14px;
  }

  .forgot-password a {
    text-decoration: none;
    color: #A622A6;
  }
  
  /* Alinha os campos de e-mail e senha */
  .form-fields {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    input {
      margin: 0;
    }
  }