@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Dreadful-Regular;
    src: url('Dreadful-Regular.otf') format('opentype');
  }

  body {
    font-family: 'Exo','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  h1 {
    font-family: Dreadful-Regular;
    font-size: 50px;
    font-weight: 100;
    margin-top: 0;
    animation: colorChange 10s infinite;
    letter-spacing: 0em;
    opacity: 0;
    color: white;

  }

  @keyframes colorChange {
    0% { color: white; }
    50% { color: rgb(228, 38, 228); }
    100% { color: white; }
  }

  .login {
    max-height: 0;
    background-color: white;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    form {
      opacity: 0;
      transition: opacity 1s;
    }
    &.on {
      
      max-height: 350px;
      padding: 50px 60px 30px;
       form {
        opacity: 1;
      } 
    }
  }

  .form-fields input {
    border: none;
    border-radius: 10px;
    box-shadow:inset 4px 4px 8px rgba(0, 0, 0, 0.25);
    height: 45px;
    width: 257px;
    margin: 5px;
    padding: 3px 20px 3px;
    box-sizing: border-box;
    &:focus {
      border: 2px solid #A622A6; /* Altere a cor da borda conforme necessário */
      outline: none; /* Remove a borda padrão de foco */
  }
  
    
  }

  .inputSubmit {
    font-family: 'Exo','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 20px;
    background-color: #A622A6;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    height: 55px;
    width: 160px;
    transition: 0.6s;

    &:hover {
      cursor: pointer;
      background-color: #c429c4;
    }
  }

  ::-webkit-input-placeholder {
    color: #00000049;
  }

  .nova-conta {
    margin: 20px 0 0;
    a {
      text-decoration: none;
      color: #A622A6;
    }

  }
  

  .forgot-password {
    display: none;
    margin-top: 20px;
    font-size: 14px;
  }

  .forgot-password a {
    text-decoration: none;
    color: #A622A6;
  }
  
  /* Alinha os campos de e-mail e senha */
  .form-fields {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    input {
      margin: 0;
    }
  }