.exo-fonte-padrao {
}

body {
  background-color: #facffa;
  font-family: "Exo", sans-serif;
  position: relative;
}

.friends-title {
  color: #a622a6;
  font-size: 42px;
  text-align: center;
  margin-top: 60px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #a622a6;
  margin: 10px 50px 0 50px;
}

#friends-list {
  margin: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.friend {
  width: 362px;
  height: 175px;
  border-radius: 20px;
  background-color: #a622a6;
  position: relative;
  display: flex;
  align-items: center;
  transition: linear 300ms;
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
    color: #800080;
  }
}

.container-friend-photo {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #facffa;
  position: absolute;
  left: -30px;
}

.friend-photo {
  height: 90px;
  width: 90px;
}

.container-friend-info {
  background-color: #fdfdfd;
  align-self: flex-end;
  height: 50%;
  width: 100%;
  border-radius: 0 300px 70px 70px;
  display: grid;
  grid-template-columns: 0.35fr 1fr 0.2fr;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;

  p {
    grid-column: 2/3;
  }
}

#widget-pendentes {
  background-color: #fdfdfd;
  width: 329px;
  max-height: 50px;

  position: fixed;
  bottom: 0;
  right: 104px;
  border-radius: 20px 20px 0 0;

  overflow-y: hidden;
  transition: max-height ease-in-out 800ms;
}
/* barra de rolagem */
#widget-pendentes::-webkit-scrollbar-thumb {
  background-color: #800080;
  border-radius: 0;
}
/* Personaliza a barra inteira */
::-webkit-scrollbar {
  width: 2px; /* Largura da barra */
}
::-webkit-scrollbar:hover {
  width: 4px;
}

#widget-pendentes:hover {
  /* bottom: 0; */
  right: 104px;
  border-radius: 20px 20px 0 0;
  height: fit-content;
  max-height: 350px;
}

#widget-pendentes .pendente-container .img-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
}

#widget-pendentes .pendente-container .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#widget-pendentes .header {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  margin: 15px 0 40px 0;
  column-gap: 5px;
}

#widget-pendentes .header img {
  justify-self: end;
  align-self: center;
}

#widget-pendentes .pendente-container {
  width: 300px;
  height: 50px;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 65px max-content 1fr 15px 12px 15px;
  justify-self: center;
}

#widget-pendentes .pendente-container p {
  font-weight: bold;
  align-self: center;
}

#widget-pendentes .pendente-container .pendente-infos {
  position: absolute;
  width: 250px;
  height: 50px;
}

#widget-pendentes .pendente-container .accept {
  height: fit-content;
  width: fit-content;
  align-self: center;
  grid-column: 4/5;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

#widget-pendentes .pendente-container .refuse {
  height: fit-content;
  width: fit-content;
  align-self: center;
  grid-column: 6/7;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}
