.friend-button {
  background-color: #37c447;
  height: fit-content;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  padding: 7px;
  border-radius: 50px;
  border: none;
}

.friend-button:hover {
  background-color: #33d346;
  cursor: pointer;
}

.friend-button.unsend {
  display: none;
  background-color: #f54a42;
  font-size: 13px;
}

.decide-friendship {
  display: flex;
}

.friend-button.accept {
  background-color: #800080;
  font-size: 13px;
  border-radius: 50px 0 0 50px;
  transition: 300ms;

  &:hover {
    background-color: #a622a6;
  }
}

.friend-button.decline {
  background-color: #dadada;
  font-size: 13px;
  border-radius: 0 50px 50px 0;
  transition: 300ms;
  color: black;

  &:hover {
    background-color: #eaeaea;
  }
}

.unfriendArea {
  display: none;
  position: relative;
}

.friend-button.isFriend {
  background-color: #dadada;
  position: absolute;
  width: max-content;
  /* z-index: 1; */
}
/* .unfriendArea:hover .friend-button.isFriend {
  z-index: 0;
} */

.friend-button.unfriend {
  background-color: #f54a42;
  color: #f5f5f5;
  position: absolute;
  width: max-content;
}
