.container-perfil{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    margin-top: 1px;
    background-color: #facffa;
    height: auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    /* gap: 5px; */

/*     .center-perfil{
        width: 90vh;
    } */

    .side-perfil{
        background-color: #bd203a;
    
    }

    .timeline{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        min-height: 100vh;
        max-height: auto;
        width: 98%;
        border-radius: 0px 0px 20px 20px;
    }

    .header-perfil{
        border-radius: 20px 20px 0px 0px;
        margin-bottom: 10px;
        width: 98%;
        height: 400px;
        background-color: #da5151;

        .foto{
            border-radius: 200px;
            overflow: hidden;
            height: 170px;
            width: 170px;
            border: 20px solid #facffa;
            position: relative;
            left: -50px;
            top: 25%;
            z-index: 6;
        }

        .infos{
            /* position: relative; */
            width: 100%;
            height: 25%;
            border-radius: 0 300px 0 0;
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
        }
    }
}

